<div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">5-day forecast for {{ forecast?.city.name }}</h3>
    </div>
    <ul class="list-group">
      <li *ngFor="let dailyForecast of forecast?.list" class="list-group-item">
        {{ (dailyForecast.dt * 1000) | date:'EEEE, MMM d' }}:
        {{ dailyForecast.weather[0].main }}
        <app-min-max-temperature
          [min]="dailyForecast.temp.min"
          [max]="dailyForecast.temp.max"
          [withHyphen]="true"
        ></app-min-max-temperature>

        <img [src]="weatherService.getWeatherIcon(dailyForecast.weather[0].id)" class="icon"/>
      </li>
    </ul>
  </div>
</div>
<button class="btn btn-success" (click)="goBack()">< Back to main page</button>
